@media (min-width: 50.25rem) {
  .page .alignwide,
  .page .alignfull {
    width: auto;
    max-width: none;
  }
  .page .alignwide img,
  .page .alignwide iframe,
  .page .alignfull img,
  .page .alignfull iframe {
    width: 100%;
  }
  .page .alignwide {
    margin: 1.5rem calc((50% - 50vw) / 2);
  }
  .page .alignfull {
    width: 100vw;
    margin: 1.5rem calc(50% - 50vw);
  }
}
.wrap {
  display: block;
  max-width: 1048px;
  margin: auto;
  padding: 0.75rem;
}
.wrap::before,
.wrap::after {
  content: "";
  display: table;
}
.wrap::after {
  clear: both;
}
.wrap.full-width {
  padding: 0;
}
@media (min-width: 50.25rem) {
  .wrap {
    padding: 1.5rem;
  }
}
.content .search-form {
  margin: auto;
}
.content .search-form__input {
  height: 3rem;
}
.content .search-form__button {
  top: 1.75rem;
}
.archive .content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (min-width: 50.25rem) {
  .archive .content {
    display: block;
  }
}

.single-post__header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
@media (min-width: 50.25rem) {
  .single-post__header {
    text-align: center;
    margin-bottom: 1.875rem;
  }
}
.single-post__title {
  -ms-flex-order: 1;
  order: 1;
  font-size: 2.25rem;
  line-height: 2.625rem;
  margin: 0 0 1.5rem;
  word-wrap: break-word;
}
@media (max-width: 71.25rem) {
  .page-template-full-width .entry-content {
    padding: 0 1.5rem;
  }
  .page-template-full-width .entry-content .alignfull {
    width: 100vw;
    margin: 1.5rem calc(50% - 50vw);
  }
}

.promise-block-wrapper {
  margin-top: 0;
  margin-bottom: 0.75rem;
  padding: 1.125rem;
  border-radius: 0.375rem;
  -webkit-box-shadow: inset 0 0 0 1px #e6e4eb;
  box-shadow: inset 0 0 0 1px #e6e4eb;
  text-align: center;
  background-color: #f3f2f5;
  background-color: var(--bpk-color-gray-50, #f3f2f5);
}
.promise-block-wrapper.promises-count-1 .promise-image {
  width: 100%;
}
.promise-block-wrapper.promises-count-2 .promise-image {
  width: 50%;
}
.promise-block-wrapper.promises-count-3 .promise-image {
  width: 33.333%;
}
.promise-block-wrapper .promises {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 10px;
  max-width: 71.25rem;
  margin: auto;
}
.promise-block-wrapper .promises .promise-image {
  display: table-cell;
}
.promise-block-wrapper .promises .summary-image {
  display: table-cell;
  vertical-align: middle;
  padding-right: 1.125rem;
  width: 10px;
}
.promise-block-wrapper .promises h4 {
  color: #524c61;
  color: var(--bpk-color-gray-700, #524c61);
  line-height: 1.5rem;
}
.promise-block-wrapper .promises p {
  color: #817b8f;
  color: var(--bpk-color-gray-500, #817b8f);
  font-size: 1rem;
  line-height: 1.5rem;
}
.promise-block-wrapper .promises li p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #817b8f;
  color: var(--bpk-color-gray-500, #817b8f);
}
.promise-block-wrapper .promises .presentation-block {
  padding: 1.125rem;
  position: relative;
  display: table;
  background-color: #f3f2f5;
  background-color: var(--bpk-color-gray-50, #f3f2f5);
  color: #524c61;
  color: var(--bpk-color-gray-700, #524c61);
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.375rem;
  width: 100%;
}
.promise-block-wrapper .promises blockquote {
  display: table-cell;
  vertical-align: middle;
}
.promise-block-wrapper .promises .quote-text {
  margin: 0 0 0.75rem;
  padding: 0.75rem 1.5rem;
  height: 120;
}
.promise-block-wrapper .promises .quote-text-no-line {
  margin: 0 0 0.75rem;
  padding: 0.75rem 0.75rem 0.75rem 1.125rem;
  color: #817b8f;
  color: var(--bpk-color-gray-500, #817b8f);
}
@media (max-width: 880px) {
  .promise-block-wrapper .promises .promise-image {
    margin: 0 auto;
    display: block;
    width: 100%;
  }
}
.promise-block-wrapper .promises .toggle-content li p {
  font-size: 1rem;
  line-height: 1.5rem;
}
.promise-block-wrapper .promises .toggle-content {
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #00b2d6;
  border-left-color: var(--bpk-primary-color, #00b2d6);
  margin-left: 20px;
  padding-left: 20px;
}
@media (max-width: 880px) {
  .promise-block-wrapper .promises .summary-image {
    display: none;
  }
}
.promise-block-wrapper .img-circle {
  border-radius: 50%;
  background-color: white;
  padding: 0.75rem;
  width: 240px;
  max-width: 240px;
  height: 240px;
}

.wp-block-skyscanner-promise .promise-block-wrapper .promise-image {
  width: 100%;
  display: block;
}

.wp-block-skyscanner-promise .img-circle {
  border-radius: 50%;
  background-color: white;
  padding: 0.75rem;
  width: 240px;
  height: 240px;
}
.presentation-block-wrapper .presentation-block .summary-image .img-circle {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: white;
  padding: 0.75rem;
  max-width: none;
}

.presentation-block-wrapper {
  margin-bottom: 1.875rem;
}
.presentation-block-wrapper .presentation-block {
  padding: 1.125rem;
  position: relative;
  display: table;
  background-color: #f3f2f5;
  background-color: var(--bpk-color-gray-50, #f3f2f5);
  color: #524c61;
  color: var(--bpk-color-gray-700, #524c61);
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.375rem;
  width: 100%;
}
.presentation-block-wrapper .presentation-block .summary-image {
  display: table-cell;
  vertical-align: middle;
  padding-right: 1.125rem;
  width: 10px;
}

.presentation-block-wrapper
  .presentation-block
  .summary-image
  .components-button {
  margin-top: 10px;
  margin-left: 10px;
}
.presentation-block-wrapper .presentation-block .quote-text {
  margin: 0 0 0.75rem;
  padding: 0.75rem 0.375rem 0.75rem 1.5rem;
  min-height: 120px;
}
@media (max-width: 880px) {
  .presentation-block-wrapper
    .presentation-block.presentation-block-fe
    .summary-image {
    display: none;
  }
  .presentation-block-wrapper
    .presentation-block.presentation-block-fe
    .quote-text {
    margin: 0px;
    padding-left: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: auto;
  }
  .presentation-block-wrapper
    .presentation-block.presentation-block-fe
    .quote-text
    p {
    margin-bottom: 0px;
  }
}
.presentation-block-wrapper .learn_more_button {
  padding: 0;
  border: 0;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #00b2d6;
  color: var(--bpk-link-color, #00b2d6);
  text-align: left;
}
.bpk-no-touch-support
  .presentation-block-wrapper
  .learn_more_button:hover:not(:active):not(:disabled) {
  text-decoration: underline;
  color: #524c61;
  color: var(--bpk-link-hover-color, #524c61);
}
.bpk-no-touch-support
  .presentation-block-wrapper
  .learn_more_button:hover:not(:active):not(:disabled) {
  text-decoration: underline;
  color: #524c61;
  color: var(--bpk-link-hover-color, #524c61);
}
.presentation-block-wrapper .learn_more_button:visited {
  color: #008ca8;
  color: var(--bpk-link-visited-color, #008ca8);
}
.presentation-block-wrapper .learn_more_button:active {
  text-decoration: underline;
  color: #252033;
  color: var(--bpk-link-active-color, #252033);
}
.presentation-block-wrapper .learn_more_button svg {
  fill: #00b2d6;
  fill: var(--bpk-primary-color, #00b2d6);
  height: 1.125rem;
  width: 1.125rem;
  margin-bottom: -3px;
}
.presentation-block-wrapper .learn_more_button .down-icon {
  display: inline-block;
}
.presentation-block-wrapper .learn_more_button .up-icon {
  display: none;
}
.presentation-block-wrapper
  .learn_more_button.learn_more_button_open
  .down-icon {
  display: none;
}
.presentation-block-wrapper .learn_more_button.learn_more_button_open .up-icon {
  display: inline-block;
}
.presentation-block-wrapper .toggle-content {
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #00b2d6;
  border-left-color: var(--bpk-primary-color, #00b2d6);
  margin-left: 20px;
  padding-left: 20px;
  display: none;
}
.presentation-block-wrapper .toggle-content.toggle-content-open {
  display: block;
}
.presentation-block-wrapper .toggle-content p {
  color: #817b8f;
  color: var(--bpk-color-gray-500, #817b8f);
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 1.125rem 0;
}
.presentation-block-wrapper .toggle-content li p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #817b8f;
  color: var(--bpk-color-gray-500, #817b8f);
}

body {
  margin: 0;
}
body {
  color: #524c61;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Arial",
    sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
body.scaffold-font-size {
  font-size: 13px;
  /* stylelint-disable-line unit-blacklist, scale-unlimited/declaration-strict-value */
}
body.enable-font-smoothing {
  -webkit-font-smoothing: antialiased;
}
